<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Bienvenido</a>    
    <button class="btn btn-outline-success" (click)="LogoutApp()">Logout</button>
  </div>
</nav>

<article>
  <h3 class="display-6">Hola...</h3>
  <hr>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio odit repellat suscipit quidem id exercitationem vero, deserunt vel dolorem, magnam sapiente quo consectetur debitis asperiores sit odio magni ipsum eveniet?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio odit repellat suscipit quidem id exercitationem vero, deserunt vel dolorem, magnam sapiente quo consectetur debitis asperiores sit odio magni ipsum eveniet?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio odit repellat suscipit quidem id exercitationem vero, deserunt vel dolorem, magnam sapiente quo consectetur debitis asperiores sit odio magni ipsum eveniet?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio odit repellat suscipit quidem id exercitationem vero, deserunt vel dolorem, magnam sapiente quo consectetur debitis asperiores sit odio magni ipsum eveniet?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio odit repellat suscipit quidem id exercitationem vero, deserunt vel dolorem, magnam sapiente quo consectetur debitis asperiores sit odio magni ipsum eveniet?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio odit repellat suscipit quidem id exercitationem vero, deserunt vel dolorem, magnam sapiente quo consectetur debitis asperiores sit odio magni ipsum eveniet?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio odit repellat suscipit quidem id exercitationem vero, deserunt vel dolorem, magnam sapiente quo consectetur debitis asperiores sit odio magni ipsum eveniet?</p>
</article>